**.db
**/__pycache__
secrets.env
./secrets.env

# Quality Requirement stuff
.coverage

# For selenium
app/downloaded_files/*
test/downloaded_files/*
downloaded_files/*
**.env
app/failurePrice.html
app/failureName.html
app/failureSeller.html
failurePrice.html
failureName.html
failureSeller.html

# Profile pictures
/app/static/UserProfilePictures/*
!/app/static/UserProfilePictures/default.jpg

# For VScode enjoyers
.vscode/*
